// Custom fonts for this template
link(href='vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
// Custom styles for this template
link(href='/static/css/AdminSide/sb-admin-2.css' rel='stylesheet')


.down
    .container-fluid
    // 404 Error Text
    .text-center(dir = "rtl")
        .error.mx-auto(data-text='404') 404
        p.lead.text-gray-800.mb-5 הדף לא נמצא
        p.text-gray-500.mb-0 אופס.. נראה שמצאת תקלה
        a(href='/' ) חזרה לעמוד הראשי ←

div(style = "min-height: 160px;")

include utilities/footer.pug