include utilities/header.pug
      // portfolio_image_area
.portfolio_image_area
        .container
            .row.justify-content-center
                .col-lg-6
                    .section_title.text-center.mb-90
                        h3.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='.3s') המומלצים שלנו
                        p.wow.fadeInUp(dir='rtl', data-wow-duration='1s', data-wow-delay='.4s')
                            | אנו מאמינים שכל אחד יכול ללמוד לקוד, לא משנה ברקע או ברמת הניסיון שלך. החל מהבנת מושגי יסוד דרך הדרכות, חידונים וסרטונים. בואו להתרשם מהקורסים שלנו.
            .row
                .col-lg-8.col-md-12
                    .single_Portfolio.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='.3s')
                        .portfolio_thumb
                            img(src=' /static/img/portfolio/1.jpg', alt='')
                        .portfolio_hover
                            .title
                                span #{subject}
                                h3(dir='rtl') JS מתקדם
                                a.boxed-btn3(href='../../singleCourse') לצפייה
                .col-lg-4.col-md-6
                    .single_Portfolio.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='.4s')
                        .portfolio_thumb
                            img(src=' /static/img/portfolio/2.jpg', alt='')
                        .portfolio_hover
                            .title
                                span JAVA
                                h3 תכנות מונחה עצמים
                                a.boxed-btn3(href='portfolio_details.html') לצפייה
                .col-lg-4.col-md-6.col-lg-4
                    .single_Portfolio.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='.5s')
                        .portfolio_thumb
                            img(src='/static/img/portfolio/3.jpg', alt='')
                        .portfolio_hover
                            .title
                                span Full Stack
                                h3 JS & the DOM
                                a.boxed-btn3(href='/static/portfolio_details.html') לצפייה
                .col-lg-4.col-md-6.col-lg-4
                    .single_Portfolio.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='.6s')
                        .portfolio_thumb
                            img(src='/static/img/portfolio/4.jpg', alt='')
                        .portfolio_hover
                            .title
                                span Java
                                h3(dir='rtl') ממשקים ב- Java
                                a.boxed-btn3(href='portfolio_details.html') לצפייה
                .col-lg-4.col-md-6.col-lg-4
                    .single_Portfolio.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='.7s')
                        .portfolio_thumb
                            img(src='/static/img/portfolio/5.jpg', alt='')
                        .portfolio_hover
                            .title
                                span פיתוח צד לקוח
                                h3 AJAX יסודות
                                a.boxed-btn3(href='portfolio_details.html') לצפייה
        // / portfolio_image_area
        .site-section
            .container
                .row
                .col-md-12.text-center
                    .row.justify-content-center
                        .col-lg-6
                            .section_title.mb-90
                                h3.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='.3s') במיוחד בשבילך
                                p.wow.fadeInUp(dir='rtl', data-wow-duration='1s', data-wow-delay='.4s')
                                    | על סמך השאלונים שתפתור, הסרטונים שתראה, והחומרים שתיקרא נוכל להכיר אותך טוב יותר וכך נוכל להמליץ לך על תכנים אשר יעניינו אותך ויקדמו אותך.
            .row
                .col-md-12.block-13.nav-direction-white
                    .nonloop-block-13.owl-carousel
                        .media-image
                            img.img-fluid(src='/static/img/img_1.png', alt='Image')
                            .media-image-body
                                h2.font-secondary.text-uppercase AJAX יסודות
                                p(dir='rtl') AJAX מאפשר לטעון תוכן חדש מבלי לעזוב את הדף הנוכחיוליצור חוויה טובה ומהירה יותר.
                                p
                                    a.boxed-btn4.px-4(href='#') לצפייה
                        .media-image
                            img.img-fluid(src='/static/img/img_2.jpg', alt='Image')
                            .media-image-body
                                h2.font-secondary.text-uppercase Express יסודות
                                p למד כיצד להשתמש ב- Express.js לבניית אתרים דינמיים בפלטפורמת Node.js. 
                                p
                                    a.boxed-btn4.px-4(href='#') לצפייה
                        .media-image
                            img.img-fluid(src='/static/img/img_3.jpg', alt='Image')
                            .media-image-body
                                h2.font-secondary.text-uppercase(dir='rtl') ממשקים ב- JAVA
                                p(dir='rtl') במסלול זה תלמד כיצד ליצור בסיסי קוד חזקים וגמישים יותר באמצעות ממשקים.
                                p
                                    a.boxed-btn4.px-4(href='#') לצפייה
                        .media-image
                            img.img-fluid(src='/static/img/img_6.jpg', alt='Image')
                            .media-image-body
                                h2.font-secondary.text-uppercase HTML5 / CSS3
                                p(dir='rtl') במסלול זה נלמד כיצד לבנות את תוכן האתר ולעצב אותו בהתאם למדיה בו הוא מוצג.
                                p
                                    a.boxed-btn4.px-4(href='#') לצפייה
                        .media-image
                            img.img-fluid(src='/static/img/img_4.jpg', alt='Image')
                            .media-image-body
                                h2.font-secondary.text-uppercase Bootstrap 4
                                p(dir='rtl') בואו ללמוד איך לשדרג את העיצוב של האתר שלכם בקלות ובמהירות באמצעות Bootstrap 4.
                                p
                                    a.boxed-btn4.px-4(href='#') לצפייה
                        .media-image
                            img.img-fluid(src='/static/img/img_5.jpg', alt='Image')
                            .media-image-body
                                h2.font-secondary.text-uppercase SCSS
                                p(dir='rtl') Sass היא שפה שנועדה להוסיף מנגנונים של שימוש חוזר בחלקים מהקוד ל CSS.
                                p
                                    a.boxed-btn4.px-4(href='#') לצפייה
include utilities/footer.pug