include utilities/header.pug
link(rel='stylesheet', href='/static/css/quizCss/game.css')

.container(dir='rtl', style = "text-align: center; margin-top: 5em; center; margin-bottom: 3em; min-height: 313px;")
    h2 הניקוד שלך הוא:
    h1#finalScore
    h2#questionsNumber
    br
    a.boxed-btn4#color-btn(href='../singleCourse') המשך 
    br
    div(style = "line-height: 3em;")
        a(onclick="history.back();" style="font-size: 1.1em; color: #e17055") נסה מחדש

script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
script(src='/static/js/endQuiz.js')
include utilities/footer.pug