include utilities/header.pug
include utilities/headerGame.pug
.container(dir='rtl', style = "margin-bottom: 174px;")
    p(style="font-size: 1.2em; text-align: right;") מקם את האלמנט החדש p כילד האחרון של האלמנט המאוחסן בקבוע div.
    pre.language-js#question(style= "text-align: left; background: #353535; margin: 15px 0;", dir='ltr')
        code.codeColor.language-js
            | const div = document.querySelector('div#feedback');
            | const p = document.createElement('p');
            |
        span.answer.answerStyle(contenteditable="true",spellcheck="false") 
        code.codeColor.language-js .appendChild(
        span.answer.answerStyle(contenteditable="true",spellcheck="false") 
        code.codeColor.language-js );
         
    a.boxed-btn4#color-btn(style="float: right;" onclick = 'SavefillAnswer()') אשר   

script(src='static/js/quizJS/end.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js')


include utilities/footer.pug