doctype html
html(lang='he')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		title Forget Password Form
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		// CSS here
		link(rel='stylesheet', href='static/css/bootstrap.min.css')
		link(rel='stylesheet', href='static/css/owl.carousel.min.css')
		link(rel='stylesheet', href='static/css/magnific-popup.css')
		link(rel='stylesheet', href='static/css/font-awesome.min.css')
		link(rel='stylesheet', href='static/css/themify-icons.css')
		link(rel='stylesheet', href='static/css/nice-select.css')
		link(rel='stylesheet', href='static/css/flaticon.css')
		link(rel='stylesheet', href='static/css/gijgo.css')
		link(rel='stylesheet', href='static/css/animate.min.css')
		link(rel='stylesheet', href='static/css/slick.css')
		link(rel='stylesheet', href='static/css/slicknav.css')
		link(rel='stylesheet', href='static/css/style.css')
	body
		#newImgPassword.how_we_work_area(dir='rtl')
			.container
				.row
					.col-lg-5
						.work_info
							h3.mb-4.text-center איפוס סיסמא
							.text-center(style='font-size: 0.85em;   color: #707070;')
								span   הזן את הדואר האלקטרוני שלך ואנחנו נשלח לך קישור לחזרה לחשבונך.
							form(action='/api/auth/forgot' method='post' )
								.mt-10
									.mt-10
										input.single-input(type='email', name='email', placeholder='דואר אלקטרוני', onfocus="this.placeholder = ''", onblur="this.placeholder = 'דואר אלקטוני'", required='')
										button.boxed-btn4.mt-5.mb-3(type='submit', style=' width: 100%;') שלח לינק
									.text-center(style='font-size: 0.85em;   color: #707070;')
										span או 
										a(href='../signUp', style='color: #615CFD;') צור חשבון חדש
	
include utilities/footer.pug
