include utilities/header.pug
link(rel='stylesheet', href='/static/css/profileCss/profile.css')
body
    .container
        .main-body
            // /Breadcrumb
            .row.gutters-sm
                .col-sm-12.mb-3
                    .card.h-100
                        .card-body(dir = "rtl" style= "text-align: right; flex: 1 1 auto; min-height: 24.7rem; padding: 2rem; ")
                            h6.d-flex.align-items-center.mb-3 ציונים אחרונים
                            if user.quizResults
                                each result in user.quizResults
                                    if result
                                        small #{result.title}    
                                        grade(style="float:left") #{result.grade}
                                        .progress.mb-3(style='height: 7px; with:' )
                                            .progress-bar.bg-primary(class ="progress-bar progress-bar-striped progress-bar-animated" role='progressbar', style='width: ' + result.grade + '%', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100')
include utilities/footer.pug