link(type="text/css" rel="stylesheet" href="https://assets.socrative.com/3.9.4/css/teacher.min.css")
link(rel="stylesheet" type="text/css" href="https://assets.socrative.com/3.9.4/js/../css/EditQuizController.min.css")
script(charset="utf-8" src="https://assets.socrative.com/3.9.4/js/EditQuizController.js")
.container#multipleChoice.width
        .flex.items-start.py-10.quiz-question.px-8.-mx-8.bg-grey-50.is-editing(class='sm:pl-8 sm:pr-10 sm:mx-0 sm:rounded-4', data-quiz-question='true')
        .question-grid.flex-1(data-question='MC')
            .grid.grid-cols-question-fields.max-w-5xl.p-0(data-quiz-question-text='true')
            .relative.-top-2.flex.flex-none.items-center.justify-center.w-12.h-12.font-display.text-md.font-700.text-blue-900
                | 1.
                span(style='margin-left: -0.25em;')
            .col-start-2.min-w-0.ml-2
                .relative.flex-1.max-w-full.min-w-0.quill-field
                .relative.z-10.flex-1.max-w-full.bg-white.rounded-2.quill-wrapper.flex.flex-wrap(class='lg:flex-no-wrap')
                    .flex-1.max-w-full.quill-editor
                    .relative.flex.flex-wrap.transition-all.duration-100.ease-out.mix-multiply.quill-toolbar.invisible.max-h-0.opacity-0
                        .absolute.right-0.bottom-0.left-0.h-px.mx-4.bg-divider
                        span.ql-formats
                        button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-bold(type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                            svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M4 4a1 1 0 011-1h4.5a3.5 3.5 0 012.475 1.025c.59.59.948 1.369 1.016 2.237L13 6.5a3.5 3.5 0 01-.65 2.031 3.525 3.525 0 011.644 2.772L14 11.5a3.5 3.5 0 01-3.5 3.5H5a1 1 0 01-1-1zm6.5 6H6v3h4.5c.828 0 1.5-.672 1.5-1.468l-.003-.132A1.5 1.5 0 0010.5 10zm-1-5H6v3h3.5a1.5 1.5 0 001.06-.44c.282-.28.44-.662.44-1.02l-.005-.159A1.5 1.5 0 009.5 5z')
                        button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-italic(type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                            svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M13 3a1 1 0 01.117 1.993L13 5h-2.181l-1.6 8H11a1 1 0 01.117 1.993L11 15H5a1 1 0 01-.117-1.993L5 13h2.18l1.6-8H7a1 1 0 01-.117-1.993L7 3h6z')
                        button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-underline(type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                            svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M14.5 15a.5.5 0 110 1h-11a.5.5 0 110-1h11zM13 2a1 1 0 01.993.883L14 3v6.003A5.013 5.013 0 018.997 14a5.013 5.013 0 01-4.992-4.783L4 9V3a1 1 0 011.993-.117L6 3v5.997A3.01 3.01 0 008.997 12a3.012 3.012 0 002.997-2.824L12 9V3a1 1 0 011-1z')
                        span.ql-formats
                        button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-script(type='button', value='sub')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                            svg(width='18', height='18', viewBox='0 0 18 18')
                                g(fill='currentColor', fill-rule='nonzero')
                                path(d='M15.5 14h-1.639a3.858 3.858 0 001.914-2.975 1.8 1.8 0 00-1.6-1.751 1.921 1.921 0 00-2.154 1.426.5.5 0 00.957.291.914.914 0 011.053-.725.81.81 0 01.744.762c0 1.076-1.17 1.87-1.94 2.43-.43.192-.741.58-.835 1.042a.5.5 0 00.5.5h3a.5.5 0 000-1zM9.65 4.241a1 1 0 00-1.409.108L6 6.964 3.759 4.349a1 1 0 10-1.518 1.3L4.684 8.5l-2.443 2.85a1 1 0 101.518 1.3L6 10.036l2.241 2.614a1 1 0 101.518-1.3L7.316 8.5l2.443-2.849a1 1 0 00-.109-1.41z')
                        button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-script(type='button', value='super')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                            svg(width='18', height='18', viewBox='0 0 18 18')
                                g(fill='currentColor', fill-rule='nonzero')
                                path(d='M15.5 6h-1.639a4.015 4.015 0 001.914-2.975 1.8 1.8 0 00-1.6-1.751A1.922 1.922 0 0012.021 2.7a.5.5 0 00.957.291.917.917 0 011.053-.725.81.81 0 01.744.762c0 1.077-1.164 1.925-1.934 2.486A1.423 1.423 0 0012 6.5a.5.5 0 00.5.5h3a.5.5 0 100-1zM9.651 4.241a1 1 0 00-1.41.108L6 6.964 3.759 4.349a1 1 0 10-1.519 1.3L4.683 8.5l-2.442 2.85a1 1 0 101.519 1.3L6 10.036l2.241 2.614a1 1 0 001.519-1.3L7.317 8.5l2.442-2.849a1 1 0 00-.108-1.41z')
                        span.ql-formats
                        button.relative.flex-none.h-8.min-w-8.px-2.py-1.m-0.font-sans.text-xs.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.toolbar-button--math(data-testid='math', type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center.font-600
                            .toolbar-button__label Insert
                            svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M11.759 2.482a.966.966 0 01-.658 1.602 1.014 1.014 0 01-1.02-.56c-.471.146-.877 1.136-1.242 2.442l-.064.234h.575a.8.8 0 110 1.6h-.966l-.011.047c-.146.656-.285 1.326-.42 1.968l-.134.632C7.21 13.309 6.284 16 4.119 16c-2.016 0-2.115-.836-2.119-.95v-.014a.922.922 0 01.85-1.042 1.545 1.545 0 011.3.933c.944-.21 1.684-4.112 2.306-7.127H5.95a.8.8 0 110-1.6h.85a7.656 7.656 0 011.429-3.111 2.561 2.561 0 013.53-.607zM9.99 10.341c.447-.184 2.482-1.047 2.941.8.075.303.144.597.212.885l.246-.38c.085-.13.157-.246.218-.346.213-.368.476-.704.781-1 .214-.194.492-.301.781-.3a.8.8 0 01.594.239.84.84 0 01.238.619c.015.3-.1.59-.314.8a1.075 1.075 0 01-.767.3 2.1 2.1 0 01-.535-.069 5.572 5.572 0 01-.456-.138 1.662 1.662 0 00-.266.276c-.117.142-.25.318-.4.527l.038.292c.124.774.423 1.51.875 2.154a.807.807 0 00.951.051c.212-.071.317.313 0 .494a2.582 2.582 0 01-2.376.185 2.786 2.786 0 01-.918-1.726c-.101.152-.177.27-.223.346-.05.08-.121.194-.215.34a5.11 5.11 0 01-.776.993 1.134 1.134 0 01-.787.3.82.82 0 01-.832-.852 1.058 1.058 0 011.085-1.113c.176 0 .352.021.522.066.167.045.324.094.471.147a2.69 2.69 0 00.264-.271c.129-.15.25-.305.362-.467-.15-.602-.31-1.287-.527-2.038a.869.869 0 00-1.281-.585c-.259.118-.388-.329.094-.529z')
                    .notranslate.flex.flex-grow-1.h-auto.py-2.font-sans.text-blue-900.text-base.leading-8.border-0.rounded-2.overflow-auto.w-full.min-w-50.min-h-12.max-h-80.px-4(translate='no', aria-label='Question')
                        .relative.flex.flex-grow.h-full.min-h-full.ql-container(data-testid='quill-editor', role='textbox', aria-multiline='true')
                        .ql-editor.ql-blank(data-gramm='false', contenteditable='true', data-placeholder='Have a multiple-choice question to ask?')
                            p
                            br
                        .ql-clipboard(contenteditable='true', tabindex='-1')
            .relative.flex-none.flex.items-center.justify-center.rounded-2.image-field.w-70.h-70.bg-white.mt-8.ml-15(class='lg:mt-0 lg:ml-0 lg:row-span-2 lg:col-start-2', data-image-field='true')
            .w-full.h-full.image-field__dropzone(data-drop-zone='true', data-testid='image-field-dropzone')
                label.relative.flex.items-center.justify-center.w-full.h-full.p-3.text-grey-600.rounded-1.outline-none.group.image-field__label.cursor-pointer(class='hover:text-cyan-600 focus:text-cyan-600', tabindex='0')
                .absolute.z-0.border-dashed.border-2.border-cyan-600.rounded-1.-inset-2.opacity-0
                .flex.w-full.h-full.items-center.justify-center.rounded-1(class='group-hover:bg-cyan-50', data-testid='image-field-placeholder')
                    svg.pointer-events-none(xmlns='http://www.w3.org/2000/svg', width='108', height='60', viewBox='0 0 108 60')
                    path.fill-cyan-50(class='group-hover:fill-white', d='M50 11h53a4 4 0 014 4v37a6 6 0 01-6 6H52a4 4 0 01-4-4V13a2 2 0 012-2z')
                    g.stroke-cyan-600(fill='none', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
                        rect(width='58', height='46', x='44', y='7', rx='4')
                        circle(cx='58', cy='21', r='5')
                        path(d='M51.5 44l11-11 6 6L85 22.5l9.5 9.5')
                        path(d='M17 45V15M2 30h30')
                input.sr-only(type='file', aria-label='Question Image', tabindex='-1', accept='image/*', name='')
            .mt-4.-mr-12(class='lg:row-start-2 md:mr-0')
            .grid.grid-cols-question-fields.max-w-5xl.p-0.flex-1.mt-4(data-answer-choice='true')
                .flex.items-center.justify-center.w-12.h-12
                .relative.flex.flex-none.items-center.justify-center.w-9.h-9.rounded-round.font-display.font-700.text-base.choice-label.bg-grey-300.text-blue-900
                    span
                .relative.z-10.col-span-2.col-start-2.max-w-full.min-w-0.pl-2.flex.flex-1.items-start
                label.flex-none.flex.items-center.w-11.h-12.cursor-pointer
                    .relative.w-8.h-8.rounded-pill.checkbox
                    input.sr-only.checkbox-input(type='checkbox', aria-label='Correct', value='editing-1599932992476-0')
                    svg.flex-grow-0.flex-shrink-0.group.checkbox-icon(xmlns='http://www.w3.org/2000/svg', width='24', height='24', fill='none', stroke-width='2', viewBox='0 0 24 24', aria-hidden='true')
                        path.checkbox-icon__circle.stroke-grey-500(class='group-hover:stroke-cyan-600', d='M23 12c0 6.075-4.925 11-11 11S1 18.075 1 12 5.925 1 12 1s11 4.925 11 11z')
                        path.checkbox-icon__checkmark.stroke-transparent(class='group-hover:stroke-cyan-600', stroke-linecap='round', stroke-linejoin='round', d='M6.5 12.5L10 16l7-7')
                .relative.flex-1.max-w-full.min-w-0.quill-field.has-image-field
                    .relative.z-10.flex-1.max-w-full.bg-white.rounded-2.quill-wrapper.flex.flex-wrap(class='lg:flex-no-wrap')
                    .flex-1.max-w-full.quill-editor
                        .relative.flex.flex-wrap.transition-all.duration-100.ease-out.mix-multiply.quill-toolbar.invisible.max-h-0.opacity-0.ql-toolbar
                        .absolute.right-0.bottom-0.left-0.h-px.mx-4.bg-divider
                        span.ql-formats
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-bold(type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M4 4a1 1 0 011-1h4.5a3.5 3.5 0 012.475 1.025c.59.59.948 1.369 1.016 2.237L13 6.5a3.5 3.5 0 01-.65 2.031 3.525 3.525 0 011.644 2.772L14 11.5a3.5 3.5 0 01-3.5 3.5H5a1 1 0 01-1-1zm6.5 6H6v3h4.5c.828 0 1.5-.672 1.5-1.468l-.003-.132A1.5 1.5 0 0010.5 10zm-1-5H6v3h3.5a1.5 1.5 0 001.06-.44c.282-.28.44-.662.44-1.02l-.005-.159A1.5 1.5 0 009.5 5z')
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-italic(type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M13 3a1 1 0 01.117 1.993L13 5h-2.181l-1.6 8H11a1 1 0 01.117 1.993L11 15H5a1 1 0 01-.117-1.993L5 13h2.18l1.6-8H7a1 1 0 01-.117-1.993L7 3h6z')
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-underline(type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M14.5 15a.5.5 0 110 1h-11a.5.5 0 110-1h11zM13 2a1 1 0 01.993.883L14 3v6.003A5.013 5.013 0 018.997 14a5.013 5.013 0 01-4.992-4.783L4 9V3a1 1 0 011.993-.117L6 3v5.997A3.01 3.01 0 008.997 12a3.012 3.012 0 002.997-2.824L12 9V3a1 1 0 011-1z')
                        span.ql-formats
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-script(type='button', value='sub')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                g(fill='currentColor', fill-rule='nonzero')
                                    path(d='M15.5 14h-1.639a3.858 3.858 0 001.914-2.975 1.8 1.8 0 00-1.6-1.751 1.921 1.921 0 00-2.154 1.426.5.5 0 00.957.291.914.914 0 011.053-.725.81.81 0 01.744.762c0 1.076-1.17 1.87-1.94 2.43-.43.192-.741.58-.835 1.042a.5.5 0 00.5.5h3a.5.5 0 000-1zM9.65 4.241a1 1 0 00-1.409.108L6 6.964 3.759 4.349a1 1 0 10-1.518 1.3L4.684 8.5l-2.443 2.85a1 1 0 101.518 1.3L6 10.036l2.241 2.614a1 1 0 101.518-1.3L7.316 8.5l2.443-2.849a1 1 0 00-.109-1.41z')
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-script(type='button', value='super')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                g(fill='currentColor', fill-rule='nonzero')
                                    path(d='M15.5 6h-1.639a4.015 4.015 0 001.914-2.975 1.8 1.8 0 00-1.6-1.751A1.922 1.922 0 0012.021 2.7a.5.5 0 00.957.291.917.917 0 011.053-.725.81.81 0 01.744.762c0 1.077-1.164 1.925-1.934 2.486A1.423 1.423 0 0012 6.5a.5.5 0 00.5.5h3a.5.5 0 100-1zM9.651 4.241a1 1 0 00-1.41.108L6 6.964 3.759 4.349a1 1 0 10-1.519 1.3L4.683 8.5l-2.442 2.85a1 1 0 101.519 1.3L6 10.036l2.241 2.614a1 1 0 001.519-1.3L7.317 8.5l2.442-2.849a1 1 0 00-.108-1.41z')
                        span.ql-formats
                            button.relative.flex-none.h-8.min-w-8.px-2.py-1.m-0.font-sans.text-xs.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.toolbar-button--math(data-testid='math', type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center.font-600
                                .toolbar-button__label Insert
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M11.759 2.482a.966.966 0 01-.658 1.602 1.014 1.014 0 01-1.02-.56c-.471.146-.877 1.136-1.242 2.442l-.064.234h.575a.8.8 0 110 1.6h-.966l-.011.047c-.146.656-.285 1.326-.42 1.968l-.134.632C7.21 13.309 6.284 16 4.119 16c-2.016 0-2.115-.836-2.119-.95v-.014a.922.922 0 01.85-1.042 1.545 1.545 0 011.3.933c.944-.21 1.684-4.112 2.306-7.127H5.95a.8.8 0 110-1.6h.85a7.656 7.656 0 011.429-3.111 2.561 2.561 0 013.53-.607zM9.99 10.341c.447-.184 2.482-1.047 2.941.8.075.303.144.597.212.885l.246-.38c.085-.13.157-.246.218-.346.213-.368.476-.704.781-1 .214-.194.492-.301.781-.3a.8.8 0 01.594.239.84.84 0 01.238.619c.015.3-.1.59-.314.8a1.075 1.075 0 01-.767.3 2.1 2.1 0 01-.535-.069 5.572 5.572 0 01-.456-.138 1.662 1.662 0 00-.266.276c-.117.142-.25.318-.4.527l.038.292c.124.774.423 1.51.875 2.154a.807.807 0 00.951.051c.212-.071.317.313 0 .494a2.582 2.582 0 01-2.376.185 2.786 2.786 0 01-.918-1.726c-.101.152-.177.27-.223.346-.05.08-.121.194-.215.34a5.11 5.11 0 01-.776.993 1.134 1.134 0 01-.787.3.82.82 0 01-.832-.852 1.058 1.058 0 011.085-1.113c.176 0 .352.021.522.066.167.045.324.094.471.147a2.69 2.69 0 00.264-.271c.129-.15.25-.305.362-.467-.15-.602-.31-1.287-.527-2.038a.869.869 0 00-1.281-.585c-.259.118-.388-.329.094-.529z')
                        .notranslate.flex.flex-grow-1.h-auto.py-2.font-sans.text-blue-900.text-base.leading-8.border-0.rounded-2.overflow-auto.w-full.min-w-50.min-h-12.max-h-80.px-4(translate='no')
                        .relative.flex.flex-grow.h-full.min-h-full.ql-container(data-testid='quill-editor', role='textbox', aria-multiline='true')
                            .ql-editor.ql-blank(data-gramm='false', contenteditable='true', data-placeholder='Answer A')
                            p
                                br
                            .ql-clipboard(contenteditable='true', tabindex='-1')
                    .relative.flex-none.flex.items-center.justify-center.rounded-2.image-field.is-inline.h-12.mix-multiply(class='md:w-20', data-image-field='true')
                        .w-full.h-full.image-field__dropzone(data-drop-zone='true', data-testid='image-field-dropzone')
                        label.relative.flex.items-center.justify-center.w-full.h-full.p-3.text-grey-600.rounded-1.outline-none.group.image-field__label.cursor-pointer(class='hover:text-cyan-600 focus:text-cyan-600', tabindex='0')
                            .absolute.z-0.border-dashed.border-2.border-cyan-600.rounded-1.-inset-2.opacity-0
                            .flex.w-full.h-full.items-center.justify-center.rounded-1(data-testid='image-field-placeholder')
                            svg.pointer-events-none(xmlns='http://www.w3.org/2000/svg', width='36', height='18', viewBox='0 0 36 18')
                                g.stroke-current(fill='none', fill-rule='evenodd', stroke-linecap='round', stroke-linejoin='round')
                                g(stroke-width='1.5')
                                    rect(width='18.5', height='14.5', x='16.75', y='1.75', rx='2')
                                    circle(cx='21', cy='6', r='1.25')
                                    path(d='M19.5 13l3-3 2 2L30 6.5 32.5 9')
                                path(stroke-width='2', d='M6 14V4M1 9h10')
                            input.sr-only(type='file', aria-label='Answer Image', tabindex='-1', accept='image/*', name='')
                button.relative.p-0.m-0.border-0.rounded-2.appearance-none.outline-none.transition.ease-in-out.duration-100.icon-button.cursor-pointer.bg-transparent.text-grey-600(aria-label='Remove Answer', type='button', class='focus:z-10 hover:text-grey-700 focus:text-grey-700 hover:text-red-700 focus:text-red-700')
                    .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.shadow-outline.inset-0.not-offset.is-hidden.text-red-700
                    .relative.flex.items-center.justify-center.p-2
                    svg(viewBox='0 0 24 24', width='24', height='24', fill='currentColor', focusable='false', aria-hidden='true')
                        path(fill-rule='nonzero', d='M5.613 4.21l.094.083L12 10.585l6.293-6.292a1 1 0 011.497 1.32l-.083.094L13.415 12l6.292 6.293a1 1 0 01-1.32 1.497l-.094-.083L12 13.415l-6.293 6.292a1 1 0 01-1.497-1.32l.083-.094L10.585 12 4.293 5.707a1 1 0 011.32-1.497z')
            .grid.grid-cols-question-fields.max-w-5xl.p-0.flex-1.mt-4(data-answer-choice='true')
                .flex.items-center.justify-center.w-12.h-12
                .relative.flex.flex-none.items-center.justify-center.w-9.h-9.rounded-round.font-display.font-700.text-base.choice-label.bg-grey-300.text-blue-900
                    span
                .relative.z-10.col-span-2.col-start-2.max-w-full.min-w-0.pl-2.flex.flex-1.items-start
                label.flex-none.flex.items-center.w-11.h-12.cursor-pointer
                    .relative.w-8.h-8.rounded-pill.checkbox
                    input.sr-only.checkbox-input(type='checkbox', aria-label='Correct', value='editing-1599932992476-1')
                    svg.flex-grow-0.flex-shrink-0.group.checkbox-icon(xmlns='http://www.w3.org/2000/svg', width='24', height='24', fill='none', stroke-width='2', viewBox='0 0 24 24', aria-hidden='true')
                        path.checkbox-icon__circle.stroke-grey-500(class='group-hover:stroke-cyan-600', d='M23 12c0 6.075-4.925 11-11 11S1 18.075 1 12 5.925 1 12 1s11 4.925 11 11z')
                        path.checkbox-icon__checkmark.stroke-transparent(class='group-hover:stroke-cyan-600', stroke-linecap='round', stroke-linejoin='round', d='M6.5 12.5L10 16l7-7')
                .relative.flex-1.max-w-full.min-w-0.quill-field.has-image-field
                    .relative.z-10.flex-1.max-w-full.bg-white.rounded-2.quill-wrapper.flex.flex-wrap(class='lg:flex-no-wrap')
                    .flex-1.max-w-full.quill-editor
                        .relative.flex.flex-wrap.transition-all.duration-100.ease-out.mix-multiply.quill-toolbar.invisible.max-h-0.opacity-0.ql-toolbar
                        .absolute.right-0.bottom-0.left-0.h-px.mx-4.bg-divider
                        span.ql-formats
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-bold(type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M4 4a1 1 0 011-1h4.5a3.5 3.5 0 012.475 1.025c.59.59.948 1.369 1.016 2.237L13 6.5a3.5 3.5 0 01-.65 2.031 3.525 3.525 0 011.644 2.772L14 11.5a3.5 3.5 0 01-3.5 3.5H5a1 1 0 01-1-1zm6.5 6H6v3h4.5c.828 0 1.5-.672 1.5-1.468l-.003-.132A1.5 1.5 0 0010.5 10zm-1-5H6v3h3.5a1.5 1.5 0 001.06-.44c.282-.28.44-.662.44-1.02l-.005-.159A1.5 1.5 0 009.5 5z')
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-italic(type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M13 3a1 1 0 01.117 1.993L13 5h-2.181l-1.6 8H11a1 1 0 01.117 1.993L11 15H5a1 1 0 01-.117-1.993L5 13h2.18l1.6-8H7a1 1 0 01-.117-1.993L7 3h6z')
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-underline(type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M14.5 15a.5.5 0 110 1h-11a.5.5 0 110-1h11zM13 2a1 1 0 01.993.883L14 3v6.003A5.013 5.013 0 018.997 14a5.013 5.013 0 01-4.992-4.783L4 9V3a1 1 0 011.993-.117L6 3v5.997A3.01 3.01 0 008.997 12a3.012 3.012 0 002.997-2.824L12 9V3a1 1 0 011-1z')
                        span.ql-formats
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-script(type='button', value='sub')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                g(fill='currentColor', fill-rule='nonzero')
                                    path(d='M15.5 14h-1.639a3.858 3.858 0 001.914-2.975 1.8 1.8 0 00-1.6-1.751 1.921 1.921 0 00-2.154 1.426.5.5 0 00.957.291.914.914 0 011.053-.725.81.81 0 01.744.762c0 1.076-1.17 1.87-1.94 2.43-.43.192-.741.58-.835 1.042a.5.5 0 00.5.5h3a.5.5 0 000-1zM9.65 4.241a1 1 0 00-1.409.108L6 6.964 3.759 4.349a1 1 0 10-1.518 1.3L4.684 8.5l-2.443 2.85a1 1 0 101.518 1.3L6 10.036l2.241 2.614a1 1 0 101.518-1.3L7.316 8.5l2.443-2.849a1 1 0 00-.109-1.41z')
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-script(type='button', value='super')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                g(fill='currentColor', fill-rule='nonzero')
                                    path(d='M15.5 6h-1.639a4.015 4.015 0 001.914-2.975 1.8 1.8 0 00-1.6-1.751A1.922 1.922 0 0012.021 2.7a.5.5 0 00.957.291.917.917 0 011.053-.725.81.81 0 01.744.762c0 1.077-1.164 1.925-1.934 2.486A1.423 1.423 0 0012 6.5a.5.5 0 00.5.5h3a.5.5 0 100-1zM9.651 4.241a1 1 0 00-1.41.108L6 6.964 3.759 4.349a1 1 0 10-1.519 1.3L4.683 8.5l-2.442 2.85a1 1 0 101.519 1.3L6 10.036l2.241 2.614a1 1 0 001.519-1.3L7.317 8.5l2.442-2.849a1 1 0 00-.108-1.41z')
                        span.ql-formats
                            button.relative.flex-none.h-8.min-w-8.px-2.py-1.m-0.font-sans.text-xs.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.toolbar-button--math(data-testid='math', type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center.font-600
                                .toolbar-button__label Insert
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M11.759 2.482a.966.966 0 01-.658 1.602 1.014 1.014 0 01-1.02-.56c-.471.146-.877 1.136-1.242 2.442l-.064.234h.575a.8.8 0 110 1.6h-.966l-.011.047c-.146.656-.285 1.326-.42 1.968l-.134.632C7.21 13.309 6.284 16 4.119 16c-2.016 0-2.115-.836-2.119-.95v-.014a.922.922 0 01.85-1.042 1.545 1.545 0 011.3.933c.944-.21 1.684-4.112 2.306-7.127H5.95a.8.8 0 110-1.6h.85a7.656 7.656 0 011.429-3.111 2.561 2.561 0 013.53-.607zM9.99 10.341c.447-.184 2.482-1.047 2.941.8.075.303.144.597.212.885l.246-.38c.085-.13.157-.246.218-.346.213-.368.476-.704.781-1 .214-.194.492-.301.781-.3a.8.8 0 01.594.239.84.84 0 01.238.619c.015.3-.1.59-.314.8a1.075 1.075 0 01-.767.3 2.1 2.1 0 01-.535-.069 5.572 5.572 0 01-.456-.138 1.662 1.662 0 00-.266.276c-.117.142-.25.318-.4.527l.038.292c.124.774.423 1.51.875 2.154a.807.807 0 00.951.051c.212-.071.317.313 0 .494a2.582 2.582 0 01-2.376.185 2.786 2.786 0 01-.918-1.726c-.101.152-.177.27-.223.346-.05.08-.121.194-.215.34a5.11 5.11 0 01-.776.993 1.134 1.134 0 01-.787.3.82.82 0 01-.832-.852 1.058 1.058 0 011.085-1.113c.176 0 .352.021.522.066.167.045.324.094.471.147a2.69 2.69 0 00.264-.271c.129-.15.25-.305.362-.467-.15-.602-.31-1.287-.527-2.038a.869.869 0 00-1.281-.585c-.259.118-.388-.329.094-.529z')
                        .notranslate.flex.flex-grow-1.h-auto.py-2.font-sans.text-blue-900.text-base.leading-8.border-0.rounded-2.overflow-auto.w-full.min-w-50.min-h-12.max-h-80.px-4(translate='no')
                        .relative.flex.flex-grow.h-full.min-h-full.ql-container(data-testid='quill-editor', role='textbox', aria-multiline='true')
                            .ql-editor.ql-blank(data-gramm='false', contenteditable='true', data-placeholder='Answer B')
                            p
                                br
                            .ql-clipboard(contenteditable='true', tabindex='-1')
                    .relative.flex-none.flex.items-center.justify-center.rounded-2.image-field.is-inline.h-12.mix-multiply(class='md:w-20', data-image-field='true')
                        .w-full.h-full.image-field__dropzone(data-drop-zone='true', data-testid='image-field-dropzone')
                        label.relative.flex.items-center.justify-center.w-full.h-full.p-3.text-grey-600.rounded-1.outline-none.group.image-field__label.cursor-pointer(class='hover:text-cyan-600 focus:text-cyan-600', tabindex='0')
                            .absolute.z-0.border-dashed.border-2.border-cyan-600.rounded-1.-inset-2.opacity-0
                            .flex.w-full.h-full.items-center.justify-center.rounded-1(data-testid='image-field-placeholder')
                            svg.pointer-events-none(xmlns='http://www.w3.org/2000/svg', width='36', height='18', viewBox='0 0 36 18')
                                g.stroke-current(fill='none', fill-rule='evenodd', stroke-linecap='round', stroke-linejoin='round')
                                g(stroke-width='1.5')
                                    rect(width='18.5', height='14.5', x='16.75', y='1.75', rx='2')
                                    circle(cx='21', cy='6', r='1.25')
                                    path(d='M19.5 13l3-3 2 2L30 6.5 32.5 9')
                                path(stroke-width='2', d='M6 14V4M1 9h10')
                            input.sr-only(type='file', aria-label='Answer Image', tabindex='-1', accept='image/*', name='')
                button.relative.p-0.m-0.border-0.rounded-2.appearance-none.outline-none.transition.ease-in-out.duration-100.icon-button.cursor-pointer.bg-transparent.text-grey-600(aria-label='Remove Answer', type='button', class='focus:z-10 hover:text-grey-700 focus:text-grey-700 hover:text-red-700 focus:text-red-700')
                    .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.shadow-outline.inset-0.not-offset.is-hidden.text-red-700
                    .relative.flex.items-center.justify-center.p-2
                    svg(viewBox='0 0 24 24', width='24', height='24', fill='currentColor', focusable='false', aria-hidden='true')
                        path(fill-rule='nonzero', d='M5.613 4.21l.094.083L12 10.585l6.293-6.292a1 1 0 011.497 1.32l-.083.094L13.415 12l6.292 6.293a1 1 0 01-1.32 1.497l-.094-.083L12 13.415l-6.293 6.292a1 1 0 01-1.497-1.32l.083-.094L10.585 12 4.293 5.707a1 1 0 011.32-1.497z')
            .grid.grid-cols-question-fields.max-w-5xl.p-0.flex-1.mt-4(data-answer-choice='true')
                .flex.items-center.justify-center.w-12.h-12
                .relative.flex.flex-none.items-center.justify-center.w-9.h-9.rounded-round.font-display.font-700.text-base.choice-label.bg-grey-300.text-blue-900
                    span
                .relative.z-10.col-span-2.col-start-2.max-w-full.min-w-0.pl-2.flex.flex-1.items-start
                label.flex-none.flex.items-center.w-11.h-12.cursor-pointer
                    .relative.w-8.h-8.rounded-pill.checkbox
                    input.sr-only.checkbox-input(type='checkbox', aria-label='Correct', value='editing-1599932992476-2')
                    svg.flex-grow-0.flex-shrink-0.group.checkbox-icon(xmlns='http://www.w3.org/2000/svg', width='24', height='24', fill='none', stroke-width='2', viewBox='0 0 24 24', aria-hidden='true')
                        path.checkbox-icon__circle.stroke-grey-500(class='group-hover:stroke-cyan-600', d='M23 12c0 6.075-4.925 11-11 11S1 18.075 1 12 5.925 1 12 1s11 4.925 11 11z')
                        path.checkbox-icon__checkmark.stroke-transparent(class='group-hover:stroke-cyan-600', stroke-linecap='round', stroke-linejoin='round', d='M6.5 12.5L10 16l7-7')
                .relative.flex-1.max-w-full.min-w-0.quill-field.has-image-field
                    .relative.z-10.flex-1.max-w-full.bg-white.rounded-2.quill-wrapper.flex.flex-wrap(class='lg:flex-no-wrap')
                    .flex-1.max-w-full.quill-editor
                        .relative.flex.flex-wrap.transition-all.duration-100.ease-out.mix-multiply.quill-toolbar.invisible.max-h-0.opacity-0.ql-toolbar
                        .absolute.right-0.bottom-0.left-0.h-px.mx-4.bg-divider
                        span.ql-formats
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-bold(type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M4 4a1 1 0 011-1h4.5a3.5 3.5 0 012.475 1.025c.59.59.948 1.369 1.016 2.237L13 6.5a3.5 3.5 0 01-.65 2.031 3.525 3.525 0 011.644 2.772L14 11.5a3.5 3.5 0 01-3.5 3.5H5a1 1 0 01-1-1zm6.5 6H6v3h4.5c.828 0 1.5-.672 1.5-1.468l-.003-.132A1.5 1.5 0 0010.5 10zm-1-5H6v3h3.5a1.5 1.5 0 001.06-.44c.282-.28.44-.662.44-1.02l-.005-.159A1.5 1.5 0 009.5 5z')
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-italic(type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M13 3a1 1 0 01.117 1.993L13 5h-2.181l-1.6 8H11a1 1 0 01.117 1.993L11 15H5a1 1 0 01-.117-1.993L5 13h2.18l1.6-8H7a1 1 0 01-.117-1.993L7 3h6z')
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-underline(type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M14.5 15a.5.5 0 110 1h-11a.5.5 0 110-1h11zM13 2a1 1 0 01.993.883L14 3v6.003A5.013 5.013 0 018.997 14a5.013 5.013 0 01-4.992-4.783L4 9V3a1 1 0 011.993-.117L6 3v5.997A3.01 3.01 0 008.997 12a3.012 3.012 0 002.997-2.824L12 9V3a1 1 0 011-1z')
                        span.ql-formats
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-script(type='button', value='sub')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                g(fill='currentColor', fill-rule='nonzero')
                                    path(d='M15.5 14h-1.639a3.858 3.858 0 001.914-2.975 1.8 1.8 0 00-1.6-1.751 1.921 1.921 0 00-2.154 1.426.5.5 0 00.957.291.914.914 0 011.053-.725.81.81 0 01.744.762c0 1.076-1.17 1.87-1.94 2.43-.43.192-.741.58-.835 1.042a.5.5 0 00.5.5h3a.5.5 0 000-1zM9.65 4.241a1 1 0 00-1.409.108L6 6.964 3.759 4.349a1 1 0 10-1.518 1.3L4.684 8.5l-2.443 2.85a1 1 0 101.518 1.3L6 10.036l2.241 2.614a1 1 0 101.518-1.3L7.316 8.5l2.443-2.849a1 1 0 00-.109-1.41z')
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-script(type='button', value='super')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                g(fill='currentColor', fill-rule='nonzero')
                                    path(d='M15.5 6h-1.639a4.015 4.015 0 001.914-2.975 1.8 1.8 0 00-1.6-1.751A1.922 1.922 0 0012.021 2.7a.5.5 0 00.957.291.917.917 0 011.053-.725.81.81 0 01.744.762c0 1.077-1.164 1.925-1.934 2.486A1.423 1.423 0 0012 6.5a.5.5 0 00.5.5h3a.5.5 0 100-1zM9.651 4.241a1 1 0 00-1.41.108L6 6.964 3.759 4.349a1 1 0 10-1.519 1.3L4.683 8.5l-2.442 2.85a1 1 0 101.519 1.3L6 10.036l2.241 2.614a1 1 0 001.519-1.3L7.317 8.5l2.442-2.849a1 1 0 00-.108-1.41z')
                        span.ql-formats
                            button.relative.flex-none.h-8.min-w-8.px-2.py-1.m-0.font-sans.text-xs.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.toolbar-button--math(data-testid='math', type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center.font-600
                                .toolbar-button__label Insert
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M11.759 2.482a.966.966 0 01-.658 1.602 1.014 1.014 0 01-1.02-.56c-.471.146-.877 1.136-1.242 2.442l-.064.234h.575a.8.8 0 110 1.6h-.966l-.011.047c-.146.656-.285 1.326-.42 1.968l-.134.632C7.21 13.309 6.284 16 4.119 16c-2.016 0-2.115-.836-2.119-.95v-.014a.922.922 0 01.85-1.042 1.545 1.545 0 011.3.933c.944-.21 1.684-4.112 2.306-7.127H5.95a.8.8 0 110-1.6h.85a7.656 7.656 0 011.429-3.111 2.561 2.561 0 013.53-.607zM9.99 10.341c.447-.184 2.482-1.047 2.941.8.075.303.144.597.212.885l.246-.38c.085-.13.157-.246.218-.346.213-.368.476-.704.781-1 .214-.194.492-.301.781-.3a.8.8 0 01.594.239.84.84 0 01.238.619c.015.3-.1.59-.314.8a1.075 1.075 0 01-.767.3 2.1 2.1 0 01-.535-.069 5.572 5.572 0 01-.456-.138 1.662 1.662 0 00-.266.276c-.117.142-.25.318-.4.527l.038.292c.124.774.423 1.51.875 2.154a.807.807 0 00.951.051c.212-.071.317.313 0 .494a2.582 2.582 0 01-2.376.185 2.786 2.786 0 01-.918-1.726c-.101.152-.177.27-.223.346-.05.08-.121.194-.215.34a5.11 5.11 0 01-.776.993 1.134 1.134 0 01-.787.3.82.82 0 01-.832-.852 1.058 1.058 0 011.085-1.113c.176 0 .352.021.522.066.167.045.324.094.471.147a2.69 2.69 0 00.264-.271c.129-.15.25-.305.362-.467-.15-.602-.31-1.287-.527-2.038a.869.869 0 00-1.281-.585c-.259.118-.388-.329.094-.529z')
                        .notranslate.flex.flex-grow-1.h-auto.py-2.font-sans.text-blue-900.text-base.leading-8.border-0.rounded-2.overflow-auto.w-full.min-w-50.min-h-12.max-h-80.px-4(translate='no')
                        .relative.flex.flex-grow.h-full.min-h-full.ql-container(data-testid='quill-editor', role='textbox', aria-multiline='true')
                            .ql-editor.ql-blank(data-gramm='false', contenteditable='true', data-placeholder='Answer C')
                            p
                                br
                            .ql-clipboard(contenteditable='true', tabindex='-1')
                    .relative.flex-none.flex.items-center.justify-center.rounded-2.image-field.is-inline.h-12.mix-multiply(class='md:w-20', data-image-field='true')
                        .w-full.h-full.image-field__dropzone(data-drop-zone='true', data-testid='image-field-dropzone')
                        label.relative.flex.items-center.justify-center.w-full.h-full.p-3.text-grey-600.rounded-1.outline-none.group.image-field__label.cursor-pointer(class='hover:text-cyan-600 focus:text-cyan-600', tabindex='0')
                            .absolute.z-0.border-dashed.border-2.border-cyan-600.rounded-1.-inset-2.opacity-0
                            .flex.w-full.h-full.items-center.justify-center.rounded-1(data-testid='image-field-placeholder')
                            svg.pointer-events-none(xmlns='http://www.w3.org/2000/svg', width='36', height='18', viewBox='0 0 36 18')
                                g.stroke-current(fill='none', fill-rule='evenodd', stroke-linecap='round', stroke-linejoin='round')
                                g(stroke-width='1.5')
                                    rect(width='18.5', height='14.5', x='16.75', y='1.75', rx='2')
                                    circle(cx='21', cy='6', r='1.25')
                                    path(d='M19.5 13l3-3 2 2L30 6.5 32.5 9')
                                path(stroke-width='2', d='M6 14V4M1 9h10')
                            input.sr-only(type='file', aria-label='Answer Image', tabindex='-1', accept='image/*', name='')
                button.relative.p-0.m-0.border-0.rounded-2.appearance-none.outline-none.transition.ease-in-out.duration-100.icon-button.cursor-pointer.bg-transparent.text-grey-600(aria-label='Remove Answer', type='button', class='focus:z-10 hover:text-grey-700 focus:text-grey-700 hover:text-red-700 focus:text-red-700')
                    .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.shadow-outline.inset-0.not-offset.is-hidden.text-red-700
                    .relative.flex.items-center.justify-center.p-2
                    svg(viewBox='0 0 24 24', width='24', height='24', fill='currentColor', focusable='false', aria-hidden='true')
                        path(fill-rule='nonzero', d='M5.613 4.21l.094.083L12 10.585l6.293-6.292a1 1 0 011.497 1.32l-.083.094L13.415 12l6.292 6.293a1 1 0 01-1.32 1.497l-.094-.083L12 13.415l-6.293 6.292a1 1 0 01-1.497-1.32l.083-.094L10.585 12 4.293 5.707a1 1 0 011.32-1.497z')
            .grid.grid-cols-question-fields.max-w-5xl.p-0.flex-1.mt-4(data-answer-choice='true')
                .flex.items-center.justify-center.w-12.h-12
                .relative.flex.flex-none.items-center.justify-center.w-9.h-9.rounded-round.font-display.font-700.text-base.choice-label.bg-grey-300.text-blue-900
                    span
                .relative.z-10.col-span-2.col-start-2.max-w-full.min-w-0.pl-2.flex.flex-1.items-start
                label.flex-none.flex.items-center.w-11.h-12.cursor-pointer
                    .relative.w-8.h-8.rounded-pill.checkbox
                    input.sr-only.checkbox-input(type='checkbox', aria-label='Correct', value='editing-1599932992476-3')
                    svg.flex-grow-0.flex-shrink-0.group.checkbox-icon(xmlns='http://www.w3.org/2000/svg', width='24', height='24', fill='none', stroke-width='2', viewBox='0 0 24 24', aria-hidden='true')
                        path.checkbox-icon__circle.stroke-grey-500(class='group-hover:stroke-cyan-600', d='M23 12c0 6.075-4.925 11-11 11S1 18.075 1 12 5.925 1 12 1s11 4.925 11 11z')
                        path.checkbox-icon__checkmark.stroke-transparent(class='group-hover:stroke-cyan-600', stroke-linecap='round', stroke-linejoin='round', d='M6.5 12.5L10 16l7-7')
                .relative.flex-1.max-w-full.min-w-0.quill-field.has-image-field
                    .relative.z-10.flex-1.max-w-full.bg-white.rounded-2.quill-wrapper.flex.flex-wrap(class='lg:flex-no-wrap')
                    .flex-1.max-w-full.quill-editor
                        .relative.flex.flex-wrap.transition-all.duration-100.ease-out.mix-multiply.quill-toolbar.invisible.max-h-0.opacity-0.ql-toolbar
                        .absolute.right-0.bottom-0.left-0.h-px.mx-4.bg-divider
                        span.ql-formats
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-bold(type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M4 4a1 1 0 011-1h4.5a3.5 3.5 0 012.475 1.025c.59.59.948 1.369 1.016 2.237L13 6.5a3.5 3.5 0 01-.65 2.031 3.525 3.525 0 011.644 2.772L14 11.5a3.5 3.5 0 01-3.5 3.5H5a1 1 0 01-1-1zm6.5 6H6v3h4.5c.828 0 1.5-.672 1.5-1.468l-.003-.132A1.5 1.5 0 0010.5 10zm-1-5H6v3h3.5a1.5 1.5 0 001.06-.44c.282-.28.44-.662.44-1.02l-.005-.159A1.5 1.5 0 009.5 5z')
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-italic(type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M13 3a1 1 0 01.117 1.993L13 5h-2.181l-1.6 8H11a1 1 0 01.117 1.993L11 15H5a1 1 0 01-.117-1.993L5 13h2.18l1.6-8H7a1 1 0 01-.117-1.993L7 3h6z')
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-underline(type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M14.5 15a.5.5 0 110 1h-11a.5.5 0 110-1h11zM13 2a1 1 0 01.993.883L14 3v6.003A5.013 5.013 0 018.997 14a5.013 5.013 0 01-4.992-4.783L4 9V3a1 1 0 011.993-.117L6 3v5.997A3.01 3.01 0 008.997 12a3.012 3.012 0 002.997-2.824L12 9V3a1 1 0 011-1z')
                        span.ql-formats
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-script(type='button', value='sub')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                g(fill='currentColor', fill-rule='nonzero')
                                    path(d='M15.5 14h-1.639a3.858 3.858 0 001.914-2.975 1.8 1.8 0 00-1.6-1.751 1.921 1.921 0 00-2.154 1.426.5.5 0 00.957.291.914.914 0 011.053-.725.81.81 0 01.744.762c0 1.076-1.17 1.87-1.94 2.43-.43.192-.741.58-.835 1.042a.5.5 0 00.5.5h3a.5.5 0 000-1zM9.65 4.241a1 1 0 00-1.409.108L6 6.964 3.759 4.349a1 1 0 10-1.518 1.3L4.684 8.5l-2.443 2.85a1 1 0 101.518 1.3L6 10.036l2.241 2.614a1 1 0 101.518-1.3L7.316 8.5l2.443-2.849a1 1 0 00-.109-1.41z')
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-script(type='button', value='super')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                g(fill='currentColor', fill-rule='nonzero')
                                    path(d='M15.5 6h-1.639a4.015 4.015 0 001.914-2.975 1.8 1.8 0 00-1.6-1.751A1.922 1.922 0 0012.021 2.7a.5.5 0 00.957.291.917.917 0 011.053-.725.81.81 0 01.744.762c0 1.077-1.164 1.925-1.934 2.486A1.423 1.423 0 0012 6.5a.5.5 0 00.5.5h3a.5.5 0 100-1zM9.651 4.241a1 1 0 00-1.41.108L6 6.964 3.759 4.349a1 1 0 10-1.519 1.3L4.683 8.5l-2.442 2.85a1 1 0 101.519 1.3L6 10.036l2.241 2.614a1 1 0 001.519-1.3L7.317 8.5l2.442-2.849a1 1 0 00-.108-1.41z')
                        span.ql-formats
                            button.relative.flex-none.h-8.min-w-8.px-2.py-1.m-0.font-sans.text-xs.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.toolbar-button--math(data-testid='math', type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center.font-600
                                .toolbar-button__label Insert
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M11.759 2.482a.966.966 0 01-.658 1.602 1.014 1.014 0 01-1.02-.56c-.471.146-.877 1.136-1.242 2.442l-.064.234h.575a.8.8 0 110 1.6h-.966l-.011.047c-.146.656-.285 1.326-.42 1.968l-.134.632C7.21 13.309 6.284 16 4.119 16c-2.016 0-2.115-.836-2.119-.95v-.014a.922.922 0 01.85-1.042 1.545 1.545 0 011.3.933c.944-.21 1.684-4.112 2.306-7.127H5.95a.8.8 0 110-1.6h.85a7.656 7.656 0 011.429-3.111 2.561 2.561 0 013.53-.607zM9.99 10.341c.447-.184 2.482-1.047 2.941.8.075.303.144.597.212.885l.246-.38c.085-.13.157-.246.218-.346.213-.368.476-.704.781-1 .214-.194.492-.301.781-.3a.8.8 0 01.594.239.84.84 0 01.238.619c.015.3-.1.59-.314.8a1.075 1.075 0 01-.767.3 2.1 2.1 0 01-.535-.069 5.572 5.572 0 01-.456-.138 1.662 1.662 0 00-.266.276c-.117.142-.25.318-.4.527l.038.292c.124.774.423 1.51.875 2.154a.807.807 0 00.951.051c.212-.071.317.313 0 .494a2.582 2.582 0 01-2.376.185 2.786 2.786 0 01-.918-1.726c-.101.152-.177.27-.223.346-.05.08-.121.194-.215.34a5.11 5.11 0 01-.776.993 1.134 1.134 0 01-.787.3.82.82 0 01-.832-.852 1.058 1.058 0 011.085-1.113c.176 0 .352.021.522.066.167.045.324.094.471.147a2.69 2.69 0 00.264-.271c.129-.15.25-.305.362-.467-.15-.602-.31-1.287-.527-2.038a.869.869 0 00-1.281-.585c-.259.118-.388-.329.094-.529z')
                        .notranslate.flex.flex-grow-1.h-auto.py-2.font-sans.text-blue-900.text-base.leading-8.border-0.rounded-2.overflow-auto.w-full.min-w-50.min-h-12.max-h-80.px-4(translate='no')
                        .relative.flex.flex-grow.h-full.min-h-full.ql-container(data-testid='quill-editor', role='textbox', aria-multiline='true')
                            .ql-editor.ql-blank(data-gramm='false', contenteditable='true', data-placeholder='Answer D')
                            p
                                br
                            .ql-clipboard(contenteditable='true', tabindex='-1')
                    .relative.flex-none.flex.items-center.justify-center.rounded-2.image-field.is-inline.h-12.mix-multiply(class='md:w-20', data-image-field='true')
                        .w-full.h-full.image-field__dropzone(data-drop-zone='true', data-testid='image-field-dropzone')
                        label.relative.flex.items-center.justify-center.w-full.h-full.p-3.text-grey-600.rounded-1.outline-none.group.image-field__label.cursor-pointer(class='hover:text-cyan-600 focus:text-cyan-600', tabindex='0')
                            .absolute.z-0.border-dashed.border-2.border-cyan-600.rounded-1.-inset-2.opacity-0
                            .flex.w-full.h-full.items-center.justify-center.rounded-1(data-testid='image-field-placeholder')
                            svg.pointer-events-none(xmlns='http://www.w3.org/2000/svg', width='36', height='18', viewBox='0 0 36 18')
                                g.stroke-current(fill='none', fill-rule='evenodd', stroke-linecap='round', stroke-linejoin='round')
                                g(stroke-width='1.5')
                                    rect(width='18.5', height='14.5', x='16.75', y='1.75', rx='2')
                                    circle(cx='21', cy='6', r='1.25')
                                    path(d='M19.5 13l3-3 2 2L30 6.5 32.5 9')
                                path(stroke-width='2', d='M6 14V4M1 9h10')
                            input.sr-only(type='file', aria-label='Answer Image', tabindex='-1', accept='image/*', name='')
                button.relative.p-0.m-0.border-0.rounded-2.appearance-none.outline-none.transition.ease-in-out.duration-100.icon-button.cursor-pointer.bg-transparent.text-grey-600(aria-label='Remove Answer', type='button', class='focus:z-10 hover:text-grey-700 focus:text-grey-700 hover:text-red-700 focus:text-red-700')
                    .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.shadow-outline.inset-0.not-offset.is-hidden.text-red-700
                    .relative.flex.items-center.justify-center.p-2
                    svg(viewBox='0 0 24 24', width='24', height='24', fill='currentColor', focusable='false', aria-hidden='true')
                        path(fill-rule='nonzero', d='M5.613 4.21l.094.083L12 10.585l6.293-6.292a1 1 0 011.497 1.32l-.083.094L13.415 12l6.292 6.293a1 1 0 01-1.32 1.497l-.094-.083L12 13.415l-6.293 6.292a1 1 0 01-1.497-1.32l.083-.094L10.585 12 4.293 5.707a1 1 0 011.32-1.497z')
            .grid.grid-cols-question-fields.max-w-5xl.p-0.mt-4
                .col-start-2.pl-13
                button.relative.px-4.py-2.m-0.border-0.rounded-2.text-sm.leading-8.font-sans.font-600.appearance-none.outline-none.select-none.transition.ease-in-out.duration-100.small-button.cursor-pointer.text-cyan-600.bg-white(class='focus:z-10 hover:bg-cyan-100 focus:bg-cyan-100 hover:text-cyan-700 focus:text-cyan-700', type='button')
                    .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.shadow-outline.-inset-2.text-cyan-600.is-hidden
                    .relative.flex.items-center.justify-center
                    span.inline-flex.mr-1.-ml-2.text-inherit
                        svg(viewBox='0 0 24 24', width='24', height='24', fill='currentColor', focusable='false', aria-hidden='true')
                        g(fill-rule='nonzero')
                            path(d='M12 4a1 1 0 01.993.883L13 5v14a1 1 0 01-1.993.117L11 19V5a1 1 0 011-1z')
                            path(d='M20 12a1 1 0 01-.883.993L19 13H5a1 1 0 01-.117-1.993L5 11h14a1 1 0 011 1z')
                    | Add Answer
            .grid.grid-cols-question-fields.max-w-5xl.p-0.mt-8(data-quiz-question-details='true')
                .flex.items-center.justify-center.w-12.h-12
                .flex.flex-none.items-center.justify-center.w-9.h-9.bg-white.rounded-round.text-grey-300.select-none.pointer-events-none(aria-hidden='true')
                    .relative.top-px.font-display.font-700.text-blue-600.text-base i
                .col-start-2.min-w-0.ml-2(aria-label='Explanation (Optional)')
                .relative.flex-1.max-w-full.min-w-0.quill-field
                    .relative.z-10.flex-1.max-w-full.bg-white.rounded-2.quill-wrapper.flex.flex-wrap(class='lg:flex-no-wrap')
                    .flex-1.max-w-full.quill-editor
                        .relative.flex.flex-wrap.transition-all.duration-100.ease-out.mix-multiply.quill-toolbar.invisible.max-h-0.opacity-0.ql-toolbar
                        .absolute.right-0.bottom-0.left-0.h-px.mx-4.bg-divider
                        span.ql-formats
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-bold(type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M4 4a1 1 0 011-1h4.5a3.5 3.5 0 012.475 1.025c.59.59.948 1.369 1.016 2.237L13 6.5a3.5 3.5 0 01-.65 2.031 3.525 3.525 0 011.644 2.772L14 11.5a3.5 3.5 0 01-3.5 3.5H5a1 1 0 01-1-1zm6.5 6H6v3h4.5c.828 0 1.5-.672 1.5-1.468l-.003-.132A1.5 1.5 0 0010.5 10zm-1-5H6v3h3.5a1.5 1.5 0 001.06-.44c.282-.28.44-.662.44-1.02l-.005-.159A1.5 1.5 0 009.5 5z')
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-italic(type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M13 3a1 1 0 01.117 1.993L13 5h-2.181l-1.6 8H11a1 1 0 01.117 1.993L11 15H5a1 1 0 01-.117-1.993L5 13h2.18l1.6-8H7a1 1 0 01-.117-1.993L7 3h6z')
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-underline(type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M14.5 15a.5.5 0 110 1h-11a.5.5 0 110-1h11zM13 2a1 1 0 01.993.883L14 3v6.003A5.013 5.013 0 018.997 14a5.013 5.013 0 01-4.992-4.783L4 9V3a1 1 0 011.993-.117L6 3v5.997A3.01 3.01 0 008.997 12a3.012 3.012 0 002.997-2.824L12 9V3a1 1 0 011-1z')
                        span.ql-formats
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-script(type='button', value='sub')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                g(fill='currentColor', fill-rule='nonzero')
                                    path(d='M15.5 14h-1.639a3.858 3.858 0 001.914-2.975 1.8 1.8 0 00-1.6-1.751 1.921 1.921 0 00-2.154 1.426.5.5 0 00.957.291.914.914 0 011.053-.725.81.81 0 01.744.762c0 1.076-1.17 1.87-1.94 2.43-.43.192-.741.58-.835 1.042a.5.5 0 00.5.5h3a.5.5 0 000-1zM9.65 4.241a1 1 0 00-1.409.108L6 6.964 3.759 4.349a1 1 0 10-1.518 1.3L4.684 8.5l-2.443 2.85a1 1 0 101.518 1.3L6 10.036l2.241 2.614a1 1 0 101.518-1.3L7.316 8.5l2.443-2.849a1 1 0 00-.109-1.41z')
                            button.relative.flex-none.h-8.min-w-8.p-1.m-0.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.ql-script(type='button', value='super')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                g(fill='currentColor', fill-rule='nonzero')
                                    path(d='M15.5 6h-1.639a4.015 4.015 0 001.914-2.975 1.8 1.8 0 00-1.6-1.751A1.922 1.922 0 0012.021 2.7a.5.5 0 00.957.291.917.917 0 011.053-.725.81.81 0 01.744.762c0 1.077-1.164 1.925-1.934 2.486A1.423 1.423 0 0012 6.5a.5.5 0 00.5.5h3a.5.5 0 100-1zM9.651 4.241a1 1 0 00-1.41.108L6 6.964 3.759 4.349a1 1 0 10-1.519 1.3L4.683 8.5l-2.442 2.85a1 1 0 101.519 1.3L6 10.036l2.241 2.614a1 1 0 001.519-1.3L7.317 8.5l2.442-2.849a1 1 0 00-.108-1.41z')
                        span.ql-formats
                            button.relative.flex-none.h-8.min-w-8.px-2.py-1.m-0.font-sans.text-xs.text-grey-700.border-0.bg-transparent.rounded-1.cursor-pointer.outline-none.transition-colors.duration-100.ease-linear.toolbar-button.toolbar-button--math(data-testid='math', type='button')
                            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.inset-0.not-offset.text-cyan-600.is-inset.is-hidden
                            .flex.items-center.justify-center.font-600
                                .toolbar-button__label Insert
                                svg(width='18', height='18', viewBox='0 0 18 18')
                                path(fill='currentColor', fill-rule='nonzero', d='M11.759 2.482a.966.966 0 01-.658 1.602 1.014 1.014 0 01-1.02-.56c-.471.146-.877 1.136-1.242 2.442l-.064.234h.575a.8.8 0 110 1.6h-.966l-.011.047c-.146.656-.285 1.326-.42 1.968l-.134.632C7.21 13.309 6.284 16 4.119 16c-2.016 0-2.115-.836-2.119-.95v-.014a.922.922 0 01.85-1.042 1.545 1.545 0 011.3.933c.944-.21 1.684-4.112 2.306-7.127H5.95a.8.8 0 110-1.6h.85a7.656 7.656 0 011.429-3.111 2.561 2.561 0 013.53-.607zM9.99 10.341c.447-.184 2.482-1.047 2.941.8.075.303.144.597.212.885l.246-.38c.085-.13.157-.246.218-.346.213-.368.476-.704.781-1 .214-.194.492-.301.781-.3a.8.8 0 01.594.239.84.84 0 01.238.619c.015.3-.1.59-.314.8a1.075 1.075 0 01-.767.3 2.1 2.1 0 01-.535-.069 5.572 5.572 0 01-.456-.138 1.662 1.662 0 00-.266.276c-.117.142-.25.318-.4.527l.038.292c.124.774.423 1.51.875 2.154a.807.807 0 00.951.051c.212-.071.317.313 0 .494a2.582 2.582 0 01-2.376.185 2.786 2.786 0 01-.918-1.726c-.101.152-.177.27-.223.346-.05.08-.121.194-.215.34a5.11 5.11 0 01-.776.993 1.134 1.134 0 01-.787.3.82.82 0 01-.832-.852 1.058 1.058 0 011.085-1.113c.176 0 .352.021.522.066.167.045.324.094.471.147a2.69 2.69 0 00.264-.271c.129-.15.25-.305.362-.467-.15-.602-.31-1.287-.527-2.038a.869.869 0 00-1.281-.585c-.259.118-.388-.329.094-.529z')
                        .notranslate.flex.flex-grow-1.h-auto.py-2.font-sans.text-blue-900.text-base.leading-8.border-0.rounded-2.overflow-auto.w-full.min-w-50.min-h-12.max-h-80.px-4(translate='no')
                        .relative.flex.flex-grow.h-full.min-h-full.ql-container(data-testid='quill-editor', role='textbox', aria-multiline='true')
                            .ql-editor.ql-blank(data-gramm='false', contenteditable='true', data-placeholder='An explanation, if you like.')
                            p
                                br
                            .ql-clipboard(contenteditable='true', tabindex='-1')
                    .relative.flex-none.flex.items-center.justify-center.rounded-2.image-field.is-inline.h-12.mix-multiply(class='md:w-20', data-image-field='true')
                        .w-full.h-full.image-field__dropzone(data-drop-zone='true', data-testid='image-field-dropzone')
                        label.relative.flex.items-center.justify-center.w-full.h-full.p-3.text-grey-600.rounded-1.outline-none.group.image-field__label.cursor-pointer(class='hover:text-cyan-600 focus:text-cyan-600', tabindex='0')
                            .absolute.z-0.border-dashed.border-2.border-cyan-600.rounded-1.-inset-2.opacity-0
                            .flex.w-full.h-full.items-center.justify-center.rounded-1(data-testid='image-field-placeholder')
                            svg.pointer-events-none(xmlns='http://www.w3.org/2000/svg', width='36', height='18', viewBox='0 0 36 18')
                                g.stroke-current(fill='none', fill-rule='evenodd', stroke-linecap='round', stroke-linejoin='round')
                                g(stroke-width='1.5')
                                    rect(width='18.5', height='14.5', x='16.75', y='1.75', rx='2')
                                    circle(cx='21', cy='6', r='1.25')
                                    path(d='M19.5 13l3-3 2 2L30 6.5 32.5 9')
                                path(stroke-width='2', d='M6 14V4M1 9h10')
                            input.sr-only(type='file', aria-label='Explanation Image', tabindex='-1', accept='image/*', name='')
        .flex-none.flex.flex-col.justify-start(class='md:ml-8')
            button.relative.p-0.m-0.border-0.rounded-2.appearance-none.outline-none.transition.ease-in-out.duration-100.icon-button.cursor-pointer.text-white.bg-cyan-500(aria-label='Save Question', type='button', class='focus:z-10 hover:bg-cyan-600 focus:bg-cyan-600')
            .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.shadow-outline.-inset-2.text-cyan-600.is-hidden
            .relative.flex.items-center.justify-center.p-2
                svg(viewBox='0 0 24 24', width='24', height='24', fill='currentColor', focusable='false', aria-hidden='true')
                path(fill-rule='nonzero', d='M18.293 6.293a1 1 0 011.497 1.32l-.083.094-10 10a1 1 0 01-1.32.083l-.094-.083-5.5-5.5a1 1 0 011.32-1.497l.094.083L9 15.585l9.293-9.292z')
            .mt-4
            button.relative.p-0.m-0.border-0.rounded-2.appearance-none.outline-none.transition.ease-in-out.duration-100.icon-button.cursor-pointer.text-cyan-600.bg-transparent(aria-label='Delete Question', type='button', class='focus:z-10 hover:bg-white focus:bg-white hover:text-red-700 focus:text-red-700')
                .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.shadow-outline.-inset-2.is-hidden.text-red-700
                .relative.flex.items-center.justify-center.p-2
                svg(viewBox='0 0 24 24', width='24', height='24', fill='currentColor', focusable='false', aria-hidden='true')
                    path(fill-rule='nonzero', d='M14.5 4a.5.5 0 00-.41-.492L14 3.5h-4a.5.5 0 00-.492.41L9.5 4v1H8V4a2 2 0 012-2h4a2 2 0 012 2v1h4.5a.75.75 0 01.102 1.493L20.5 6.5H19V19a2 2 0 01-2 2H7a2 2 0 01-2-2V6.5H3.5a.75.75 0 01-.102-1.493L3.5 5h11V4zm3 2.5h-11V19a.5.5 0 00.41.492L7 19.5h10a.5.5 0 00.492-.41L17.5 19V6.5zM9 8.25a.75.75 0 01.743.648L9.75 9v8a.75.75 0 01-1.493.102L8.25 17V9A.75.75 0 019 8.25zm3 0a.75.75 0 01.743.648L12.75 9v8a.75.75 0 01-1.493.102L11.25 17V9a.75.75 0 01.75-.75zm3 0a.75.75 0 01.743.648L15.75 9v8a.75.75 0 01-1.493.102L14.25 17V9a.75.75 0 01.75-.75z')
            .mt-2.invisible
            button.relative.p-0.m-0.border-0.rounded-2.appearance-none.outline-none.transition.ease-in-out.duration-100.icon-button.bg-transparent.text-grey-400(aria-label='Move Question Up', disabled='', type='button', class='focus:z-10')
                .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.shadow-outline.-inset-2.text-cyan-600.is-hidden
                .relative.flex.items-center.justify-center.p-2
                svg(viewBox='0 0 24 24', width='24', height='24', fill='currentColor', focusable='false', aria-hidden='true')
                    path(fill-rule='nonzero', d='M12 3h.018l.041.002.035.002.023.003.026.003a1.003 1.003 0 01.086.016l.032.008.03.01a.997.997 0 01.23.102l.015.01.052.035a1 1 0 01.037.029l.082.073 6.53 6.53a1 1 0 01-1.32 1.497l-.094-.083-4.824-4.823L13 20a1 1 0 01-1.993.117L11 20l-.001-13.585-4.822 4.822a1 1 0 01-1.497-1.32l.083-.094 6.53-6.53.082-.073.006-.006-.088.079a1.008 1.008 0 01.415-.25l.031-.009a.993.993 0 01.032-.008l.026-.005a1.003 1.003 0 01.086-.014l.023-.003.035-.002.04-.002H12z')
            .mt-2.invisible
            button.relative.p-0.m-0.border-0.rounded-2.appearance-none.outline-none.transition.ease-in-out.duration-100.icon-button.bg-transparent.text-grey-400(disabled='', aria-label='Move Question Down', type='button', class='focus:z-10')
                .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.shadow-outline.-inset-2.text-cyan-600.is-hidden
                .relative.flex.items-center.justify-center.p-2
                svg(viewBox='0 0 24 24', width='24', height='24', fill='currentColor', focusable='false', aria-hidden='true')
                    path(fill-rule='nonzero', d='M12 3a1 1 0 01.993.883L13 4l-.001 13.585 4.824-4.822a1 1 0 011.497 1.32l-.083.094-6.53 6.53a1.006 1.006 0 01-.088.079l.088-.079a1.008 1.008 0 01-.395.243l-.02.007a.998.998 0 01-.063.017l-.026.005A1.003 1.003 0 0112 21h-.033l-.052-.004-.032-.003-.026-.003a1.003 1.003 0 01-.086-.016l-.032-.008a.998.998 0 01-.03-.01l-.02-.006a.992.992 0 01-.396-.243l-6.53-6.53a1 1 0 011.32-1.497l.094.083L11 17.584 11 4a1 1 0 011-1z')
            .mt-2.invisible
            button.relative.p-0.m-0.border-0.rounded-2.appearance-none.outline-none.transition.ease-in-out.duration-100.icon-button.bg-transparent.text-grey-400(aria-label='Copy Question', disabled='', type='button', class='focus:z-10')
                .absolute.pointer-events-none.opacity-0.transition-opacity.duration-100.ease-linear.focus-indicator.shadow-outline.-inset-2.text-cyan-600.is-hidden
                .relative.flex.items-center.justify-center.p-2
                svg(viewBox='0 0 24 24', width='24', height='24', fill='currentColor', focusable='false', aria-hidden='true')
                    g(fill-rule='nonzero')
                    path(d='M7 8v1.5H4a.5.5 0 00-.492.41L3.5 10v10a.5.5 0 00.41.492L4 20.5h10a.5.5 0 00.492-.41L14.5 20v-3H16v3a2 2 0 01-2 2H4a2 2 0 01-2-2V10a2 2 0 012-2h3z')
                    path(d='M20 2a2 2 0 012 2v10a2 2 0 01-2 2H10a2 2 0 01-2-2V4a2 2 0 012-2h10zm0 1.5H10a.5.5 0 00-.492.41L9.5 4v10a.5.5 0 00.41.492l.09.008h10a.5.5 0 00.492-.41L20.5 14V4a.5.5 0 00-.41-.492L20 3.5z')
                    path(d='M15 5.75a.75.75 0 01.743.648l.007.102v1.75h1.75a.75.75 0 01.102 1.493l-.102.007h-1.75v1.75a.75.75 0 01-1.493.102l-.007-.102V9.75H12.5a.75.75 0 01-.102-1.493l.102-.007h1.75V6.5a.75.75 0 01.75-.75z')
