include utilities/header.pug
include utilities/headerGame.pug
.container(dir='rtl') 
    //- p#question(style= "text-align: left;", dir='ltr')
    pre#question(style= "text-align: left;", dir='ltr')
        code.language-js
            |var a = true; 
            |if(a == 1)
            |&nbsp; &nbsp; console.log("True");
            |else console.log("False");

    div(style= "margin-bottom: 6em; margin-top: 1.65em ;")
        .choice-container(style = "width: 10%;  display:inline-block;")
            p.choice-text#fasle(data-number='1',style = "padding: 18px 24px; margin-bottom: 0; width: 100%; text-align: center; ") False
        .choice-container(style = "width: 10%;  display:inline-block;  margin-right: 0.5%;")
            p.choice-text#true(data-number='2',style = "padding: 18px 24px; margin-bottom: 0; width: 100%; text-align: center;") True
 
//- script(src='static/js/quizJS/game.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js')

include utilities/footer.pug