.container {
  margin-top: 2em;
}

#question {
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}
.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid #6868683a;
  background-color: white;
  
}

.choice-container:hover {
  cursor: pointer;
  box-shadow:  0px 4px 8px 0px rgba(0,0,0,0.34);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
  
}

#color-btn{
  background-color: #00cecb;
}

#color-btn:hover{
  background-color: white;
  color: #00cecb !important;
  border: 1px solid #00cecb;
}


.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #00cecb;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  text-align: right;
  direction: ltr;
}

.correct {
  background-color: #00b894;
}

.incorrect {
  background-color: #d63031;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: left;
  font-size: 2rem;
  
}
#hud-item {
  
  width: 10%;

}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20em;
  height: 3em;
  border: 0.3em solid #00cec9;
  margin-top: 1.5em;
  
}

#progressBarFull {
  height: 2.5em;
  background-color: #00cec9;
  width: 0%;
}

/* LOADER */
#loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #00cec9;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;

}

.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
  color: #d5d8df !important;
  background: hsl(0deg 0% 100% / 0%) !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.answerStyle {
  text-shadow: 0 0; color: #ddd; 
  border-bottom: 2px solid #b7c0c7; 
  background-color: #434d55; 
  min-width: 20px !important; 
  text-align: center;
}

.codeColor{

  color: #d5d8df !important; 
  text-shadow: 0 0 !important;
}
