// footer start
footer.footer(dir='rtl')

    .copy-right_text
        .container
            .footer_border
            .row
                .col-xl-12
                    p.copy_right.text-center.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='1.3s') All Rights Reserved © Codern 
                        script.
                            document.write(new Date().getFullYear());
                      
                        script(src='/static/js/jsSingleCourse/js/jquery-3.2.1.min.js')
                        script(src='/static/js/jsSingleCourse/js/jquery-migrate-3.0.0.js')
                        script(src='/static/js/jsSingleCourse/js/popper.min.js')
                        script(src='/static/js/jsSingleCourse/js/bootstrap.min.js')
                        script(src='/static/js/jsSingleCourse/js/owl.carousel.min.js')
                        script(src='/static/js/jsSingleCourse/js/jquery.waypoints.min.js')
                        script(src='/static/js/jsSingleCourse/js/jquery.stellar.min.js')
                        script(src='/static/js/jsSingleCourse/js/jquery.animateNumber.min.js')
                        script(src='/static/js/jsSingleCourse/js/main.js')


                        script(src='/static/js/jstest/jquery-3.3.1.min.js')
                        script(src='/static/js/jstest/jquery-migrate-3.0.1.min.js')
                        script(src='/static/js/jstest/jquery-ui.js')
                        script(src='/static/js/jstest/popper.min.js')
                        script(src='/static/js/jstest/bootstrap.min.js')
                        script(src='/static/js/jstest/owl.carousel.min.js')
                        script(src='/static/js/jstest/jquery.stellar.min.js')
                        script(src='/static/js/jstest/jquery.waypoints.min.js')
                        script(src='/static/js/jstest/jquery.animateNumber.min.js')
                        script(src='/static/js/jstest/aos.js')
                        script(src='/static/js/jstest/main.js')
                        script(src='/static/js/vendor/modernizr-3.5.0.min.js')
                        script(src='/static/js/vendor/jquery-1.12.4.min.js')
                        script(src='/static/js/popper.min.js')
                        script(src='/static/js/bootstrap.min.js')
                        script(src='/static/js/owl.carousel.min.js')
                        script(src='/static/js/isotope.pkgd.min.js')
                        script(src='/static/js/ajax-form.js')
                        script(src='/static/js/waypoints.min.js')
                        script(src='/static/js/jquery.counterup.min.js')
                        script(src='/static/js/imagesloaded.pkgd.min.js')
                        script(src='/static/js/scrollIt.js')
                        script(src='/static/js/jquery.scrollUp.min.js')
                        script(src='/static/js/wow.min.js')
                        script(src='/static/js/nice-select.min.js')
                        script(src='/static/js/jquery.slicknav.min.js')
                        script(src='/static/js/jquery.magnific-popup.min.js')
                        script(src='/static/js/plugins.js')
                        script(src='/static/js/gijgo.min.js')
                        // contact js
                        script(src='/static/js/contact.js')
                        script(src='/static/js/jquery.ajaxchimp.min.js')
                        script(src='/static/js/jquery.form.js')
                        script(src='/static/js/jquery.validate.min.js')
                        script(src='/static/js/mail-script.js')
                        script(src='/static/js/main.js')


                        

