link(rel='stylesheet', href='/static/css/quizCss/game.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css')
body
.container(dir='rtl')
    #loader
    #game.justify-center.flex-column.hidden
    #hud
        p#progressText.hud-prefix שאלה
        #hud-item
            p.hud-prefix(style= "float: right;") ניקוד:
            h3#score.hud-main-text(style= "float: left;") 0 
    .table-row(style="padding-top: 10px;")
    .progress
        .progress-bar.color-1#progressBarFull(role='progressbar', style='width: 50%', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100')
