doctype html
meta(charset='utf-8')
meta(http-equiv='x-ua-compatible', content='ie=edge')
title Codern
meta(name='description', content='')
meta(name='viewport', content='width=device-width, initial-scale=1')
// <link rel="manifest" href="site.webmanifest">
// Place favicon.ico in the root directory
// CSS here
link(rel="shortcut icon" href="favicon/favicon.ico")
link(rel="icon" type="image/gif" href="")
link(rel='stylesheet', href='/static/css/bootstrap.min.css')
link(rel='stylesheet', href='/static/css/owl.carousel.min.css')
link(rel='stylesheet', href='/static/css/magnific-popup.css')
link(rel='stylesheet', href='/static/css/font-awesome.min.css')
link(rel='stylesheet', href='/static/css/themify-icons.css')
link(rel='stylesheet', href='/static/css/nice-select.css')
link(rel='stylesheet', href='/static/css/flaticon.css')
link(rel='stylesheet', href='/static/css/gijgo.css')
link(rel='stylesheet', href='/static/css/animate.min.css')
link(rel='stylesheet', href='/static/css/slick.css')
link(rel='stylesheet', href='/static/css/slicknav.css')
link(rel='stylesheet', href='/static/css/style.css')

link(rel='stylesheet', href='/static/css/cssSingleCourse/bootstrap.css')
link(rel='stylesheet', href='/static/css/cssSingleCourse/animate.css')
link(rel='stylesheet', href='/static/css/cssSingleCourse/owl.carousel.min.css')
//- link(rel='stylesheet', href='/static/fonts/singleCourse/fonts/ionicons/css/ionicons.min.css')
//- link(rel='stylesheet', href='/static/fonts/singleCourse/fonts/fontawesome/css/font-awesome.min.css')
//- link(rel='stylesheet', href='/static/fonts/singleCourse/fonts/flaticon/font/flaticon.css')


link(rel='stylesheet', href='/static/css/cssSingleCourse/style.css')
link(rel='stylesheet', href='/static/css/style2.css')

script(src='https://kit.fontawesome.com/663ad5d627.js', crossorigin='anonymous')
link(href='https://fonts.googleapis.com/css?family=Oswald:400,700|Work+Sans:300,400,700', rel='stylesheet')
link(rel='stylesheet', href='/static/fonts/icomoon/style.css')
link(rel='stylesheet', href='/static/css/cssSingleCourse/myStyles.css')



header
.header-area
    #sticky-header.main-header-area
        .container-fluid.p-0
            .row.align-items-center.no-gutters
                .col-xl-2.col-lg-2
                    .logo-img(style='font-size:1.9em;')
                        a(href='/', style='color:white; font-weight: bold;')  Codern 
                .col-xl-8.col-lg-8
                    .main-menu.d-none.d-lg-block.text-center(dir='rtl')
                        nav
                            ul#navigation
                                li
                                    a(href='../../courses') קטלוג
                                
                .col-lg-2.d-none.d-lg-block
                 
                    .log_chat_area.d-flex.align-items-end
                        .main-menu
                            ul#navigation
                            
                                li
                                    a(href='#', style='padding: 0.5em; margin-top: 1.2em;')
                                        //- i.fas.fa-user-circle(style='font-size: 1.75em;')
                                        //- nav
                                        h6
                                        if user
                                            | שלום 
                                            span #{user.firstName} <br>
                                            p   #{user.points} נקודות
                                    ul.submenu(dir='rtl')
                                        li
                                            a(href='/api/profile')
                                                i.fas.fa-user(style='font-size: 0.9em;')
                                                |  פרופיל
                                        li
                                            a(href='/api/profile/gradeHistory', style = "")
                                                i.fas.fa-history(style='font-size: 0.9em;')
                                                |  הסטוריית ציונים 
                                        li
                                            a(href='/api/profile/updatePassword', style = "")
                                                i.fas.fa-key(style='font-size: 0.9em;')
                                                |  עדכון סיסמא
                                        li
                                            a(href="/api/auth/logout")
                                                i.fas.fa-sign-out-alt(style='font-size: 0.9em;')
                                                |  התנתק
                .col-12
                    .mobile_menu.d-block.d-lg-none
// header-end
.bradcam_area.breadcam_bg_3
