.editable-title__input {
    box-shadow: inset 0 0 0 2px #e7edf0;
    text-align: right;
}

.editable-title__input:hover:not(:focus) {
    background-color: #f5f7f8;
    /* margin-bottom: 6em; margin-top: 1.65em;  */
    
}

.rounded-2 {
    --radius: 0.5rem;
}


.text-white {
    color: #fff;
}

.choice-container.blue :hover {
     background-color: #e1e7f7;
}

.choice-container.yellow :hover {
    background-color: #fff0ce;
}

.choice-container.orange :hover {
    background-color: #ffdfd5;
    
}


.editable-title__input:focus {
    box-shadow: rgb(0, 153, 199) 0px 0px 0px 2px inset;
}

.text-lg {
    font-size: 2.5rem;
}
.text-blue-800 {
    color: #2c4458;
}

.resize-none {
    resize: none;
}

.leading-14 {
    line-height: 3.5rem;
}

.font-700 {
    font-weight: 700;
}

.rounded-4 {
    border-radius: 1rem;
}
::selection {
    background: #39f;
    color: #fff;
    text-shadow: none;
}

.bg-grey-50 {
    background-color: #eeeded;
    /* #f5f7f8; */
}

.max-w-5xl {
    max-width: 64rem;
}

.shadow-focus {
    
    box-shadow: 0 0 0 1px #0099c7;
    border-radius: 0.5em;

}

.grid {
    /* display: -ms-grid; */
    display: inline;
}

.border {
    border: 2px solid black;
    border-radius: 0.5em;
    
}

.width {
    width: 60%;
}

.float-left {
    float: left;
}
.text-blue-900 {
    color: #273b4c;
    
}

.w-12 {
    width: 3rem;
}
.text-md {
    font-size: 1.66667rem;
    
}
.relative {
    position: relative;
}
legend {
   
    width: 61%;
}
.p-2 {
    padding: .5rem;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}

.flex-none {
    flex: none;
}
.justify-start {
    justify-content: flex-start;
}
.flex-col {
    flex-direction: column;
}

.bg-green-500 {
    background-color: #5dbe6e;
    
}

.bg-red-500 {
    background-color: #f07f7f;
}
.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.leading-8 {
    line-height: 1.5rem;
}
.hover\:bg-red-600:hover {
    background-color: #eb5f5f;
}
.hover\:bg-green-600:hover {
    background-color: #49af5b;
}



.hover\:text-red-600:hover {
    color: #eb5f5f;
}

.hover\:text-green-600:hover {
    color: #49af5b;
}

.hover\:bg-red-100:hover {
    background-color: #fce5e5 !important;
}

.hover\:bg-green-100:hover {
    background-color: #daf0de !important;
}

.col-start-2 {
    /* -ms-grid-column: 2; */
    grid-column-start: 2;
}

.mr-4 {
    margin-left: 1rem;
}

input[type="radio"],
input[type="checkbox"] {

  margin: 0 12px 4px 15px;
  transform: scale(1.5);

}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {

  background: rgba(255,255,255,0.1);
 
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 70%;
  background-color: #f3f3f3;
  color: #8a97a0;
  box-shadow: 1px 3px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;

}

/* .number { */

    /* background-color: #36bfed; */
    /* color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%; */

  /* } */

.number2 {

background-color: #36bfed;
color: #fff;
height: 30px;
width: 30px;
display: inline-block;
font-size: 0.8em;
margin-right: 4px;
line-height: 30px;
text-align: center;
text-shadow: 0 1px 0 rgba(255,255,255,0.2);
border-radius: 100%;

}

.green {
    background-color: #49af5b !important;

}
.textGreen{
    background-color: #daf0de !important;
}

.textBold{
    font-weight: bold;
    text-decoration: underline;
}

.rounded-2 {
    border-radius: .5rem;
}

.text-grey-700 {
    color: #8c97a1;
}

.cursor-pointer {
    cursor: pointer;
}
